# Ignore Pycharm and caches.
.idea/
__pycache__

# Ignore generated data.
data/old/*
data/*.db
data/*.png
data/1*
data/2*
data/3*
data/4*
data/5*
data/6*
data/7*
data/8*
data/9*
data/0*

# Ignore any output produced by TeX.
doc/build/*
*.aux
*.log
*.db

# Ignore the old folder, where we store all the old stuff.
old/*

