# Ignore Pycharm and caches.
.idea/
__pycache__
.DS_Store

# Ignore generated data.
data/old/*
data/*.db
data/*.png
data/1*
data/2*
data/3*
data/4*
data/5*
data/6*
data/7*
data/8*
data/9*
data/0*

# Ignore any output produced by TeX, as well as our build script.
doc/build/*
doc/build.sh
*.aux
*.log
*.db
*.texpadtmp

# Ignore Jupyter notebook.
*.ipynb_checkpoints*
*.ipynb

# Ignore the scratch folder, where we store all the old stuff ():<).
scratch/*

# Ignore the build folder.
build/*

